div {
  margin: 2rem;
  margin-top: 2rem !important;
  margin-left: 6rem !important;
}
svg {
  width: 95%;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 1 !important;
}
path {
  fill: #999;
  fill-rule: nonzero;
  pointer-events: all;
  z-index: 100;
  opacity:100%;
  transition: fill 6s ease;
  
  &.active {
    &.red {
      fill: #f44336;
    }
    &.organge {
      fill: #ff9800;
    }
    &.yellow {
      fill: #ffc107;
    }
    &.green {
      fill: #4caf50;
    }
    &.blue {
      fill: #2196f3;
    }
    &.indigo {
      fill: #9c27b0;
    }
    &.violet {
      fill: #3f51b5;
    }
  }
}