<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="750px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title color="primary">
              {{details.Element}}
            </mat-card-title>
            <mat-card-subtitle>
              {{details.AtomicMass}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <ul>
              <li>Symbol: {{details.Symbol}}</li>
              <li>Atomic Number: {{details.AtomicNumber}}</li>
              <li>Atomic Weight: {{details.AtomicMass}}</li>
              <li>Atomic Radius: {{details.AtomicRadius}}</li>
              <li>Group: {{details.Group}}</li>
              <li>Period: {{details.Period}}</li>
              <li>Series: {{details.Type}}</li>
              <li>State: {{details.Phase}}</li>
              <li>Metal: {{details.Metal}}</li>
              <li>Metalloid: {{details.Metalloid}}</li>
              <li>Natural: {{details.Natural}}</li>
              <!-- typo in database -->
              <li>Nonmetal: {{details.Nonmental}}</li>
              <li>Radioactive: {{details.Radioactive}}</li>
              <li>Neutrons: {{details.Neutrons}}</li>
              <li>Protons: {{details.Protons}}</li>
              <li>Electrons: {{details.Electrons}}</li>
              <li>Shells: {{details.Shells}}</li>
              <li>Valence: {{details.Valence}}</li>
              <li>Isotopes: {{details.Isotopes}}</li>
              <li>Electronegativity: {{details.Electronegativity}}</li>
              <li>Melting point: {{details.MeltingPoint}}&#176;K</li>
              <li>Boiling point: {{details.BoilingPoint}}&#176;K</li>
              <li>1st Ionization: {{details.FirstIonization}} kJ/mol</li>
              <li>Density: {{details.Density}} kg/m<sup>3</sup></li>
              <li>Specific Heat: {{details.SpecificHeat}}</li>
              <li>Discovered: {{details.Year}} by {{details.Discoverer}}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>