<mat-sidenav-container class="sidenav-container" [hasBackdrop]="'true'">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'push'"
  >
    <mat-toolbar color="primary">
      <span>pt - api</span>
    </mat-toolbar>
    <mat-nav-list class="nav-links">
      <a mat-list-item (click)="drawer.close()" [routerLink]="''">Elements</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-bg">
    <mat-toolbar color="primary">
      <a
        mat-icon-button
        type="button"
        color="theme"
        class="menu-icon"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </a>
      <app-headline></app-headline>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
