svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 1;
  }
  path {
    fill: #888fb8;
    fill-opacity: 1;
    pointer-events: all;
    transition: fill 6s ease-in-out;
    transition: fill-opacity .36s ease-in-out;
    animation: color-change 18s linear infinite alternate;
  }
  
  path:hover {
    cursor: pointer; 
    fill-opacity: .72;
  }
  
  @keyframes color-change {
    0% { fill: #ff5555 }
    20% { fill: #fb9325; }
    40% { fill: #dfef26; }
    60% { fill: #50fa7b; }
    80% { fill: #6272a4; }
    100% { fill: #924ff2; }
  }